div{
  border-radius: 10px;
}

#modelTilesList{
  position: absolute;
  top: 220px;
  left: 350px;

  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.modelInfoContainer{
  height: 275px;
  width: 400px;
  position: relative;
  left: 20px;
  top: 20px;
}

.modelTile{
  background-color: white;
  border-radius: 10px;
}

.modelStats{
  list-style: none;
}

#modelsTabHeader{
  position: absolute;
  top: 130px;
  left: 350px;
}

#innerModelSearch{
  position: absolute;
  top: 180px;
  left: 350px;
  background-color: white;
  height: 25px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#smallSearchBar{
  height: 25px;
}

.modelStateBox{
  border-radius: 5px;
  height: 25px;
  width: 80px;
  position: relative;
  top: 15px;
  left: 300px;
  border: solid black 1px;
  align-items: center;
  justify-items: center;
}

.activateModelButton{
  border-radius: 5px;
  position: relative;
  top: 75px;
  left: 7px;
  height: 25px;
  width: 350px;
  border: solid black 1px;
}

.activateModelButton:hover{
  cursor: pointer;
  border-radius: 5px;
  background-color: lightblue;
}