:root{
  --appColor: #EFF3F6;
}

button{
  border-radius: 10px;
  border: none;
  background-color: white;
}

input{
  border-radius: 10px;
}

div{
  border-radius: 10px;
}

.settingsButton{
  background-color: var(--appColor);
}

html, body{
  font-family: inter;
}

html{
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--appColor);
}

.firstDiv{
  background-color: var(--appColor);
}

.TopBar{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.line{
  display: block;
  margin-top: 5px;
  margin-bottom:10px;
}

input{
  border: none;
  height: 35px;
  width: 630px;
}

#searchWrapper{
  background-color: var(--appColor);
  border-radius: 0px;
  height: 55px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarWrapper{
  height: 45px;
  width: 670px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  display: flex;
}

#searchBar{
  display: flex;
  align-self: center;
  height: 40px;
}

.logOut{
  height: 30px;
  width: 90px;
}

.notifBell{
  background-color: var(--appColor);
  padding: -15px;
}

.userIcon{
  background-color: var(--appColor);
  padding: none;
  outline: none;
}

line{
  height: 100px;
  color: black;
  border: 5px;
}

.leftContainer{
  margin-top: 5px;
  margin-left: 20px;
  height: 600px;
  width: 280px;
  background-color: white;
}

#dashList{
  list-style: none;

}

.dashButtons{
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 15px;
  height: 45px;
  width: 200px;
}

#dashboardButton{
  margin-top: 30px;
}

.imgWrapper{
  height: 47px;
  width: 47px;
  overflow: hidden;
}

.dashText{
  align-self: flex-end;
}

#lowerSettings{
  display: flex;
  margin-top: 365px; 
  margin-left: 30px;
  gap: 10px;
}

#settingsText{
  align-self: flex-end;
}

#liveTrafficText{
  position: absolute;
  top: 125px;
  left: 395px;
}

#quickTrafficInfo{
  height: 320px;
  width: 315px;
  position: absolute;
  top: 185px;
  left: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quickTrafficBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 300px;
  background-color: white;
  overflow: hidden;
}

#alertsText{
  position: absolute;
  bottom: 225px;
  left: 345px;
}

#alertTable{
  border-radius: 10px;
  width: 1075px;
  position: absolute;
  bottom: 165px;
  left: 345px;
  border-collapse: collapse;
  background-color: white;
  
}

tr{
  border: 1px solid black;
  border-collapse: collapse;
}

#currentModelInfo{
  display: flex;
  align-items: center;
  gap: 15px;
  height: 35px;
  width: 750px;
  position: absolute;
  top: 125px;
  left: 700px;
}

#modelSelector{
  height: 25px;
  align-self: top;
}

#liveTrafficGraph{
  position: absolute;
  right: 115px;
  top: 175px;
}