:root{
  --appColor: #EFF3F6;
}

button{
  border-radius: 10px;
  border: none;
  background-color: white;
}

.settingsButton{
  background-color: var(--appColor);
}

 html{
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--appColor);
}

.firstDiv{
  background-color: var(--appColor);
}

.TopBar{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.line{
  display: block;
  margin-top: 5px;
  margin-bottom:10px;
}

input{
  border: none;
  height: 35px;
  width: 630px;
}

.searchBar{
  height: 45px;
  width: 670px;
  border-radius: 10px;
  background-color: white;  
}

.logOut{
  height: 30px;
  width: 90px;
}


