:root{
  --appColor: #EFF3F6;
}

button{
  border-radius: 10px;
  border: none;
  background-color: white;
}

.settingsButton{
  background-color: var(--appColor);
}

 html{
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--appColor);
}

.firstDiv{
  background-color: var(--appColor);
}

.TopBar{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

.line{
  display: block;
  margin-top: 5px;
  margin-bottom:10px;
}

input{
  border: none;
  height: 35px;
  width: 630px;
}

.searchBar{
  height: 45px;
  width: 670px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  display: flex;
}

.logOut{
  height: 30px;
  width: 90px;
}

.notifBell{
  background-color: var(--appColor);
  padding: -15px;
}

.userIcon{
  background-color: var(--appColor);
  padding: none;
  outline: none;
}

line{
  height: 100px;
  color: black;
  border: 5px;
}

.leftContainer{
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 20px;
  height: 600px;
  width: 280px;
  background-color: white;
}

#dashList{
  list-style: none;

}

.dashButtons{
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 10px;
  height: 45px;
  width: 200px;
  border: 1px  red;
}

#dashboardButton{
  margin-top: 30px;
}

.imgWrapper{
  height: 100;
  width: 900;
  border: 2px solid red;
  overflow: hidden;
}
.dashText{
  align-self: flex-end;
}

#lowerSettings{
  display: flex;
  margin-top: 365px; 
  margin-left: 30px;
  gap: 10px;
}

#settingsText{
  align-self: flex-end;
}
